.gcloudignore
.git
.gitignore

# Environment
.env
.DS_Store
Pipfile
Pipfile.lock

# Cache
*.pyc
*.pyo
*.pyd
__pycache__/
.pytest_cache/

# Certificate
*.p12
*.pem
*.key

# Ignored by the build system
/setup.cfg
